.react-datepicker {
    font-size: 1em;
  }
  .react-datepicker__header {
    padding-top: 0.8em;
  }
  .react-datepicker__month {
    margin: 0.4em 1em;
  }
  .react-datepicker__day-name, .react-datepicker__day {
    width: 1.9em;
    line-height: 1.9em;
    margin: 0.166em;
  }
  .react-datepicker__current-month {
    font-size: 1em;
  }
  .react-datepicker__navigation {
    top: 1em;
    line-height: 1.7em;
    border: 0.45em solid transparent;
  }
  .react-datepicker__navigation--previous {
    border-right-color: #ccc;
    left: 1em;
  }
  .react-datepicker__navigation--next {
    border-left-color: #ccc;
    right: 1em;
  }

  .close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.5;
  background-color: transparent;
  border: none;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
  top: 0;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.ReactModal__Content{
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  height: 400px;
  overflow: visible !important;
  form {
    padding-top: 5rem 
  }
  input{
    margin: 2rem auto;
    display: block;
    padding: 0.8rem;
    border-radius: 10px;
    border: 1px solid #360033;
    width: 70%;
  }
  .react-datepicker-wrapper{
    margin: 0 auto;
    display: block;
    input{
      margin: 0.5rem auto
    }
  }
  .btn{
    margin: 0 auto;
    display: block
  }
}

.error {
  padding: 1rem;
  text-align: center;
  background-color: red;
  color: white;
  width: 70%;
  display: block;
  margin: 1rem auto;
}